body {
    margin: 0;
    background-color: black;
  }
  .back {
    font-size: 15px;
      display: block;
      padding:5px;
    margin-top: 20px;
    margin-left:20px;
      background-color:black;
      color: white;
    border-radius:5px;
    outline: 0;
     
  }
  .Done{
    
    font-size: 15px;
    display: block;
    padding:5px;
	margin-top: 40px;
	margin-left: 82.5%;
    background-color:black;
    color: white;
	border-radius:5px;
	outline: 2;
	margin-bottom: 20px;
  }
  .button {
    outline: 0;
  }  
  .member-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: none;
  }
  .member-name {
    font-size: 16px;
    background-color: transparent;
    border: none;
    display: inline-block;
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
    color:white;
  }
  .members {
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .head{
      font-weight: 100;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: white;
  }
