* {
    box-sizing: border-box;
    outline: 0;
  }
  
  body {
    margin: 0;
  }
  
  input[type='radio']:after {
          width: 15px;
          height: 15px;
          border-radius: 15px;
          top: -2px;
          left: -1px;
          position: relative;
          background-color: #d1d3d1;
          content: '';
          display: inline-block;
          visibility: visible;
          border: 2px solid white;
      }
  
      input[type='radio']:checked:after {
          width: 15px;
          height: 15px;
          border-radius: 15px;
          top: -2px;
          left: -1px;
          position: relative;
          background-color: #ffa500;
          content: '';
          display: inline-block;
          visibility: visible;
          border: 2px solid white;
      }
  
  .heading {
    font-size: 24px;
    font-family: sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    background-color: transparent;
    font-weight: bold;
  }
  
  .close {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 20px;
    font-size: 20px;
    right: 20px;
  }
  
  .choose {
    margin-left: 20px;
  }
  
  .members {
    margin-top: 60px;
  }
  
  .member-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .member-name {
    font-size: 16px;
    background-color: transparent;
    border: none;
    display: inline-block;
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
  }
  
  .members {
    display: none;
  }
  
  .member {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .choose {
    margin-top: 60px;
  }
  
  label:focus {
    outline: none;
  }
  
  span:focus {
    outline: 0;
  }
  
  input:focus {
    outline: none;
  }
  
  .option {
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 10px;
    font-weight: bold;
  }
  
  .done {
    width: 100%;
    height: 50px;
    margin-top: 40px;
  }
  
  .next {
    background-color: green;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    color: #fff;
    font-size: 10px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  