{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title> About - MECT Workplace</title>
		{% if s  ==  1 %}
		<link rel="stylesheet" href="{% static '/dark/css/about.css' %}">
		{% else %}
		<link rel="stylesheet" href="{% static '/css/about.css' %}">
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="static/css/all.css">
	</head>
  <body>
    <div class="wrapper">
      <div class="top-bar">
        <h1 class="heading">About</h1>
        <button class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
      <div class="main">
				<center><img src="static/images/Cyclist's Chain (2).png" class="logo"></center>
        <p class="description">ReMOte MENToring (MOMENT) is an initiative by the Department of
        Mechatronics of Thiagarajar College of Engineering. Through this
        application we focus to simplify the faculty-student interaction
        for benefiting the student community.
        </p>
				<br>
				<center><h1>Developed By</h1>
				<h2>Department of Mechatronics Engineering</h2>
				<h2>Thiagarajar College of Engineering</h2>
				<h3>Madurai - 625015</h3></center>
				<center><img class="tcelogo" src="static/images/Thiagarajar_College_of_Engineering_logo.png"></center>
				<br>
				<center><h1>Initiative By</h1></center>
				<div class="sections">
					<img class="persondp" src="static/images/M.Palani Natha Raja.jpg">
					<p class="personname">Dr.M.Palaninatharaja</p>
				</div>
				<div class="sections">
					<img class="persondp" src="static/images/S.Parathsarathi.jpg">
					<p class="personname">Mr.S.Parthasarathi</p>
				</div>
				<div class="sections">
					<img class="persondp" src="static/images/S.A.R.Sheik Masthan.jpg">
					<p class="personname">Mr.S.A.R.Sheik Masthan</p>
				</div>
				<br>
				<center><h1>Special Thanks</h1></center>
				<div class="sections">
					<img class="persondp" src="static/images/ar.png">
					<p class="personname">Mr.Aravind</p>
				</div>
				<center><h1>Developers</h1></center>
				<div class="sections">
					<img class="persondp" src="static/images/gow.jpg">
					<p class="personname">Gautham A K</p>
				</div>
				<div class="sections">
					<img class="persondp" src="static/images/c.jpg">
					<p class="personname">Ram Sankar S</p>
					
				</div>
				<br>
        <center><h1>Icons made by</h1></center>

        <center><p class="icons"><a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        <br>
        <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>

			</p></center>
	  </div>
	</div>
	<br>
	<center><h2>Hey,user if you forgot your password: Send your registered mail id and phone number to admin</h2></center>
	<center><h2>Admin: parthasarathi_s@tce.edu</h2></center>
	<!--<center><button class="login"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=parthasarathi_s@tce.edu&su=Password recovery/any issues">Send mail to admin</a></button></center>-->
	<script src="static/js/jquery.js"></script>
	<script src="static/js/about.js"></script>
  </body>
</html>
