{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Change Password</title>
		{% if s  ==  1 %}
		<link rel="stylesheet" href="{% static '/dark/css/signup1.css' %}">
		{% else %}
		<link rel="stylesheet" href="{% static '/css/signup1.css' %}">
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="static/css/all.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="top-bar">
				{% csrf_token %}
				<button class="back"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
				<button class="changepassword-heading">Change Password</button>
			</div>
			<center><h1 class="error">Invalid Password</h1></center>
			<div class="main">
				<center><input type="password" placeholder="Current Password" class="name currentpassword" /></center>
			</div>
      <div class="changepassword">
        <center><input type="password" placeholder="New Password" class="name newpassword" /></center>
        <center><input type="password" placeholder="Confirm Password" class="mobilenumber confirmpassword" /></center>
      </div>
			<div class="bottom-bar">
				<button class="next"><i class="fa fa-check" aria-hidden="true"></i></button>
			</div>
		</div>
		<script src="static/js/jquery.js"></script>
		<script src="static/js/knob.js"></script>
		<script src="static/js/changepassword.js"></script>
	</body>
</html>
