{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Download</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="static/css/download.css">
		<link rel="stylesheet" href="static/css/all.css">
	</head>
  <body>
    <center><h1 class="title">Welcome to Moment</h1></center>
    <center><img class="head-img"src="static/images/Cyclist's Chain.png"></center>
    <div class="downloads">
        <center><h1>To download for</h1></center>
        <center><img class="side-img"src="/static/images/windows.png"><a class="opt1" href="">Coming soon</a></center><br>
        <center><img class="side-img"src="/static/images/linux.png"><a class="opt1" href="">Coming soon</a></center><br>
        <center><img class="side-img"src="/static/images/ios.png"><a class="opt1" href="">Coming soon</a></center><br>
        <center><img class="side-img1"src="/static/images/android.png"><a class="opt" href="https://play.google.com/store/apps/details?id=com.mect_tce.moment">Download</a></center>
       
    </div>
	<script src="static/js/jquery.js"></script>
	<script src="static/js/about.js"></script>
  </body>
</html>
