<!DOCTYPE html>
<html>
  <head>
    <title>Members - MECT Workplace</title>
    <link rel="stylesheet" href="static/css/groups_more.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="static/css/all.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="top-bar">
        <button class="heading">Members</button>
        <button class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
      <div class="main">
        <div class="group group1">
          <img src="static/images/M.Palani Natha Raja.jpg" class="group-img group-img1">
          <button class="group-name group-name1">Dr.M.Palaninatharaja</button>
        </div>
        <div class="group group2">
          <img src="static/images/S.Parathsarathi.jpg" class="group-img">
          <button class="group-name group-name2">Mr.S.Parthasarathi</button>
        </div>
        <div class="group group3">
          <img src="static/images/S.A.R.Sheik Masthan.jpg" class="group-img">
          <button class="group-name group-name3">Mr.S.A.R.Sheik Masthan</button>
        </div>
        <div class="group group4">
          <img src="static/images/G.Kumaraguruparan.jpg" class="group-img">
          <button class="group-name group-name4">Dr.G.Kumaraguruparan</button>
        </div>
      </div>
    </div>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/view_more.js"></script>
  </body>
</html>
